/* Reset */

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  user-select: none;
}

html,
body,
#app,
#app > div {
  height: 100%;
  overflow: hidden;
}

html,
body,
#app {
  height: 100%;
  overflow: hidden;
  // > div {
  //   width: 100%;
  //   height: 100%;
  // }
}

body {
  // font: 1rem/1 helvetica, "PingFang SC", "Hiragino Sans GB", "STHeiti Light", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font: 1rem/1 "Microsoft YaHei", sans-serif, "Hiragino Sans GB", "STHeiti Light", "WenQuanYi Micro Hei";
  color: #333;
  font-display: swap;
  height: 100%;
  width: 100%;
  background: #e0ebf6;
  -webkit-text-size-adjust: 100%;
  // font-size: 1rem;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 1;
  }
}
section {
  height: 100%;
}
input,
textarea,
button {
  outline: none;
  -webkit-appearance: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

em,
i {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  word-wrap: break-word;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

// .clearfix {
//   *zoom: 1;
// }

.interval {
  display: inline-block;
  width: 10px;
  height: 10px;
}
